body{
    background: url('../img/error.png') no-repeat center center;
     background-size: cover;
    min-height: 100vh;
    text-align: center;
}
h1{
    font-size: 6rem;
    color: white;
    position: relative;
    top: 10rem;
}
p{
    position: relative;
    font-size: 3rem;
    color: white;
    top: 10rem;
}