body{
    background: url('../img/sign-in1.png') no-repeat center center;
     background-size: cover;
    min-height: 100vh;
}
h4{
    font-size: 1.3rem;
    margin-bottom: 1rem;
}
.sign_up{
    height:100vh;
    display: flex;
}
#sign_up_cont1,
#sign_up_cont,
#sign_in_cont {
    background-color: #fefefe;
    text-align: center;
    margin: auto;
    padding: 2rem;
    width: 29rem;
}
#sign_up_cont{
    display: none;
}
#error{
    color: red;
}
#sUp,
#sIn{
    text-align: left;
    margin-bottom: 1rem;
 }
 div a{
    color: orange;
    font-size: 1.3rem;
    margin-top: 1rem
 }
 input[type=text], input[type=password]{
    width: 100%;
    padding: 0.7rem 0 0.7rem 0.7rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.5rem;
}
 .button_s{
    border: 2px solid #ff9800;
    background-color: white;
    border-radius: 0.5rem;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    color: orange;
    width: 100%;
    box-sizing: border-box;
    margin: 1rem 0 0 0;
    -webkit-transition: all 0.5s ease;
 -moz-transition:  all 0.5s ease;
 -o-transition:  all 0.5s ease;
 transition:  all 0.5s ease;
 }
 .button_s:hover{
    background: #ff9800;
    color: white;
 }

.loading{
    display: none;
    text-align: center;
    margin:1rem auto;
}