header{
    min-height: 100vh;
}
.art{
    display: none;
}
.q_area{
    width: 70%;
    margin: auto;
}
header h1{
    font-size: 4rem;
    margin: auto;
    padding: 4rem 0 0 0;
}
header p{
    margin:auto;
    color: white;
    text-align: left;
}
header p:nth-child(5){
    padding-bottom: 3rem;
}
.creaty_quest,
.play_quest{
    text-align: center;
    padding: 6rem 4rem;
}
.creaty_quest p,
.play_quest p{
    width: 100%;
    margin: auto;
}
.creaty_quest button{
    margin: 3rem 0 0 0;
    text-decoration:none;  
    cursor: pointer;
 padding:1rem 3rem; 
 border:solid 1px #e87d19; 
 -webkit-border-radius:5rem;
 -moz-border-radius:5rem; 
 border-radius: 0.5rem; 
 font-weight:bold; 
 color:#e87d19; 
 background:#ffffff; 
   -webkit-transition: all 0.5s ease;
 -moz-transition:  all 0.5s ease;
 -o-transition:  all 0.5s ease;
 transition:  all 0.5s ease;
}
.creaty_quest button:hover{
 border:solid 1px #ffffff;  
 color:#ffffff; 
 background:#e87d19; 
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
}
.slayder figure{
    display: inline;
}
.play_quest img{
    width: 15rem;
    height: 6rem;
    padding-top: 1.5rem; 
}
 .sign_in{
    background: url(../img/play_quest.png) no-repeat center center;
    background-size: cover;
    padding: 3rem 1rem;
 }
 .button_s:hover{
    background: #ff9800;
    color: white;
 }
 .sIn>a{
     color: #ff9800;
     opacity:.5;
 }
.sIn>a:hover{
    opacity: 1;
}

/*Slider*/
.slider{
    box-sizing: border-box;
}
.slideshow-container {
    max-width: 100vw;
    position: relative;
    margin: auto;
  }

  .mySlides {
      display: none;
      height: 30rem;
  }
  .slayd1{
    background: url("../img/s1.png") no-repeat center center;
    background-size: cover;
  }
  .slayd2{
    background: url("../img/s2.png") no-repeat center center;
    background-size: cover;
  }
  .slayd3{
    background: url("../img/s3.png") no-repeat center center;
    background-size: cover;
  }
  .mySlides>img{

      width: 100%;
      height: 40rem;
      vertical-align: middle;
  }

  .group_dot{
      text-align: center;
      position: relative;
      top: -1.5rem;
  }
  .dot {
    cursor: pointer;
    height:1rem;
    width: 1rem;
    margin: 0 0.3rem;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

@media screen and (min-width:620px){
    .sign_in_cont{
        width: 40%;
    }
}
@media screen and (max-width:620px){
    .sign_in_cont{
        margin-right: 0;
    }
    header p{
        text-align: center;
    }
}