section{
    padding: 3rem;
}
.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}
form button{
    background-color: white;
    border: none;
    width: 100%;
    height: 100%;
}
button p{
    padding: 2rem 0 0 0;
    color: black;
}
.box_button{
    display: flex;
    width: fit-content;
    margin: auto;
    margin-right:0;
}
.button_haeder{
    margin: 0.5rem;
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    border: 1px solid orange;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition:  all 0.5s ease;
    -o-transition:  all 0.5s ease;
    transition:  all 0.5s ease;
}
#list{
    /* display: none; */
}

#setings{
    /* display: none; */
}
.button_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background-color: white;
    border: 1px solid orange;
    color: orange;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.button_menu svg{
    margin-bottom: 0.5rem;
}
.s2{
    fill:orange;  
    stroke:none; 
    stroke-width:5;
    -webkit-transition: all 0.5s ease;
    -moz-transition:  all 0.5s ease;
    -o-transition:  all 0.5s ease;
    transition:  all 0.5s ease;
}
.button_menu:hover,
.button_haeder:hover{
    color: white;
    background-color: orange;
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}
.button_menu:hover p{
    color: white;
}
.button_menu:hover .s2,
.button_haeder:hover .s2{
    fill:white;  
}
/*Setings*/
#setings form{
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 1rem auto;
    padding: 2rem;
    align-items: center;
}
#setings form:nth-child(2){
    align-items: center;
}
#setings form div{
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}
#setings form h4{
    margin-bottom: 0.5rem;
}
#setings input[type=text], 
#setings input[type=password]{
    width: 100%;
    padding: 0.7rem 0 0.7rem 0.7rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.5rem;
}
#setings input[type=submit]{
    width: 15rem;
    margin: 1rem auto;
text-decoration:none;  
cursor: pointer;
 padding:1rem 3rem; 
 border:solid 1px #e87d19; 
 -webkit-border-radius:5rem;
 -moz-border-radius:5rem; 
 border-radius: 0.5rem; 
 color:#e87d19; 
 background:#ffffff; 
   -webkit-transition: all 0.5s ease;
 -moz-transition:  all 0.5s ease;
 -o-transition:  all 0.5s ease;
 transition:  all 0.5s ease;
}
#setings input[type=submit]:hover{
    background: #ff9800;
    color: white;
 }
#setings form div img{
    width: auto;
    height: 80%;
    box-sizing: border-box;
    margin: -0.3rem 0;
    padding: 0.8rem;
}
/*cards style*/
.list{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0;
    margin: auto;
    width: 100%;
    justify-content: space-around;
}
.list section{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0;
    margin: auto;
    width: 100%;
    justify-content: space-around;
}
.list figure img{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    margin: -0.3rem 0;
    padding: 0.8rem;
}
.list figure{
    width: 20rem;
    min-width: 25%;
    overflow: hidden;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 0 0 1rem 0;
}
.list figcaption{
    padding: 0 0 0 0.5rem;
    display: flex;
    justify-content: space-between;
}
.button_cards{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
 -moz-transition:  all 0.5s ease;
 -o-transition:  all 0.5s ease;
 transition:  all 0.5s ease;
}
.button_cards:hover{
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
    transform:scale(1.1);
}
figcaption div:nth-child(1){
    display: flex;
    flex-direction: column;
}
figcaption div:nth-child(2){
    display: flex;
    margin: 0 0.5rem 0 0;
}
@media screen and (max-width:700px){
    #setings form{
        border: none;
        margin: 0;
    }
}