.creaty_q{
    text-align: center;
}
#creat_quest{
    margin: auto;
}
.creat_z{
    border:solid 1px black;
    border-radius: 0.5rem;
    display: grid;
    margin: 2rem 25% 2rem 25%;
    padding: 2rem;
}
input[type=text],
input[type=number],
textarea{
    resize: none;
    width: 100%;
    padding: 0.7rem 0 0.7rem 0.7rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.5rem;
}
input[type="text"],
textarea:focus{
    outline: none;
}
       #map {
        height:30vh;
        width: 40vw;
        margin: auto;
      }

.button_c{
    margin: 3rem 0 1rem 0;
    text-decoration:none;
    cursor: pointer;
 padding:1rem 3rem;
 border:solid 1px #e87d19;
 -webkit-border-radius:5rem;
 -moz-border-radius:5rem;
 border-radius: 0.5rem;
 font-weight:bold;
 color:#e87d19;
 background:#ffffff;
   -webkit-transition: all 0.5s ease;
 -moz-transition:  all 0.5s ease;
 -o-transition:  all 0.5s ease;
 transition:  all 0.5s ease;
}
.button_c:hover{
    border:solid 1px #ffffff;
 color:#ffffff;
 background:#e87d19;
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;
}
.create_success{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    width: 90%;
    margin: 4rem auto;
    padding: 1rem 0 0 0;
}
.text_success{
    font-size: 1.5rem;
}

.disclose{
    text-align: left;
}

input[name="rewards"]{
    display: none;
}

input[type="checkbox"] {
     display: none;
    }
input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid orange;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#achievement_link{
    padding: 0px 0px 1rem 0;
}
#achievement_link>a{
    color: orange;
}

@media screen and (max-width:425px){
.creat_z{
    margin: auto;
    border: none;
  }
  #map{
    width: 90vw;
  }
}