body {
    margin:0;
    padding: 0;
    line-height: 1.4;
    font-family: 'Rubik', sans-serif;
  }
header{
    background: url('../img/v9.png') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 40vh;
    background-color: brown;  
    text-align: justify;
    max-width: 100%;
    box-sizing: border-box;
    margin: auto;
}
header h1{
    color: white;
    padding: 1rem 6rem;
    font-size: 2.5rem;
}
nav{
    width:90%;
    margin:auto;
}
nav ul li>img{
    width: 6rem;
    height: 6rem;
}
nav ul{
    display:flex;
    align-items: center;
    margin: 0;
}
nav ul li {
    padding: 1rem 1rem;
    list-style: none;
    color: white;
}
nav ul li:nth-child(1){
    width: 6rem;
}
nav ul li:nth-child(4){
    margin-left:auto;
}
nav ul li:not(:last-child):not(:first-child):hover{
    border-bottom: 1px solid white;
}
.ava{
    width: 4rem;
    height: 4rem;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;
}
.art{
    display: flex;
    align-items: center;
}
.art>a{
    padding: 0 1rem 0 0;
}
.ava img{
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
  footer{
    background:url('../img/sign-up1.png');
    background-size: cover;
  } 
  footer p{
        color:black;
      font-size: 0.8rem;
  }
  footer h4{
    font-size: 1.5rem;
    color: white;
  }
  footer ul li {
      display: inline;
  }
  footer ul{
      display: flex;
      flex-direction: column;
      margin: 1rem auto;
  }
  .soc>ul{
    flex-direction:row;
  }
  .soc{
    margin: 1rem auto;
  }
  .footer_r{
    padding: 0 0 4rem 0;
    display: flex;
    justify-content: center;

  }
  .footer_cont{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
    width: 70rem;
  }
  .soc>ul li{
      margin: 0 1rem 0 0;
  }
  .footer_cont>ul li{
      margin: 1rem 0 0 0;
  }
  @media screen and (max-width:620px){
    header{
        min-height: 40vh;
        }
        nav ul li:nth-child(1){
            margin: auto;
            }
    header nav ul{
        flex-direction: column;
    }
    header nav ul li:last-child{
        margin-left: 0;
    }
}
  @media screen and (max-width:425px){
        header{
        min-height: 40vh;
        }
    header h1{
        margin: auto;
    }
  }