section{
    display: flex;
    flex-wrap: wrap;
    padding: 3rem 0;
    margin: auto;
    width: 100%;
    justify-content: space-around;
}
figure img{
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    margin: -0.3rem 0;
    padding: 0.8rem;
}
figure{
    width: 20rem;
    min-width: 25%;
    overflow: hidden;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    display: flex;
    flex-direction: column;
    margin: 1rem;
}
figcaption{
    padding: 0 0 0 0.5rem;
}