section[name="moderation_conteiner"]{
    padding:0;
}

button[name="moderation_list"]{
    width: 100%;
    padding: 1rem 0;
    background-color: orange;
    color: white;
    border: none;
    font-size: 2rem;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
div[name="header_string_quest"]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    color: white;
    background-color:orange; 
    padding: 0.5rem 1rem;
}
div[name="string_quest"]{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: 1px solid orange;
    color: orange;
    padding: 0.5rem 1rem;
}