form{
    border: 1px solid;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin: 2rem 25% 2rem 25%;
    padding: 2rem;
}
form:nth-child(2){
    align-items: center;
}
form div{
    width: 15rem;
    height: 15rem;
    overflow: hidden;
}
form h4{
    margin-bottom: 0.5rem;
}
input[type=text], input[type=password]{
    width: 100%;
    padding: 0.7rem 0 0.7rem 0.7rem;
    margin: 0.5rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.5rem;
}
input[type=submit]{
    width: 15rem;
    margin: 1rem auto;
text-decoration:none;  
cursor: pointer;
 padding:1rem 3rem; 
 border:solid 1px #e87d19; 
 -webkit-border-radius:5rem;
 -moz-border-radius:5rem; 
 border-radius: 0.5rem; 
 color:#e87d19; 
 background:#ffffff; 
   -webkit-transition: all 0.5s ease;
 -moz-transition:  all 0.5s ease;
 -o-transition:  all 0.5s ease;
 transition:  all 0.5s ease;
}
input[type=submit]:hover{
    background: #ff9800;
    color: white;
 }
form:nth-child(2) input[type=submit]{
    margin-top: -2rem;
}
form div img{
    width: auto;
    height: 80%;
    box-sizing: border-box;
    margin: -0.3rem 0;
    padding: 0.8rem;
}
@media screen and (max-width:700px){
    form{
        border: none;
        margin: 0;
    }
}
